<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${productName}-系统登录</title>
    <link rel="stylesheet" href="${request.contextPath}/resources/css/admin/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
</head>
<body>
<div class="login">
    <div class="login_header">
        <div class="login_logo">
            <img src="${request.contextPath}/resources/images/login_logo.jpg"/>
        </div>
        <div class="login_title">
            <div class="title_main">
                ${productName}
            </div>
            <div class="title_sub">
                统一认证中心
            </div>
        </div>
    </div>
    <div class="login_main">
        <div class="main_left"></div>
        <div class="main_right">
            <!--<div class="right_title">-->
            <!--用户登录-->
            <!--</div>-->
            <div class="login_form">
                <form id="loginForm" action="" method="post">
                    <div style="font-size:12px;color:#FA6F03;text-align: center;padding-bottom: 5px;">
                        ${error!}
                    </div>
                    <div class="username">
                        <img src="http://www.17sucai.com/preview/94275/2018-08-15/%E8%AD%A6%E5%8A%A1%E5%B9%B3%E5%8F%B0%E7%99%BB%E5%BD%95%E6%A8%A1%E6%9D%BF/images/username.png"
                             alt="">
                        <input type="text" placeholder="请输入用户名" name="username" value="admin"/>
                    </div>
                    <div class="password">
                        <img src="http://www.17sucai.com/preview/94275/2018-08-15/%E8%AD%A6%E5%8A%A1%E5%B9%B3%E5%8F%B0%E7%99%BB%E5%BD%95%E6%A8%A1%E6%9D%BF/images/password.png"
                             alt="">
                        <input type="text" placeholder="请输入密码" name="password" value="admin"/>
                    </div>
                    <div class="yes_login" style="display: none;">
                        <button class="login_btn" type="button" id="loginBtn">Ajax登录</button>
                    </div>
                    <div class="yes_login" style="margin-top: 10px;">
                        <button class="login_btn" type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                    </div>
                    <p style="margin-top:20px;font-size:12px;color:#FA6F03;text-align: center;">
                        登录遇到问题，请联系管理员
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="${request.contextPath}/resources/plugins/jQuery/jquery-1.11.3.js"></script>
<script>
    $(function () {
        $("#loginBtn").click(function () {
            //$("#loginForm").submit();
            $.ajax({
                url: "/admin/login",
                type: "post",
                data: $("#loginForm").serialize(),
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>
</body>
</html>