<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${productName}-系统登录</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-html="html">我是WAP登录页面测试</div>
</div>
<form id="loginForm" action="/admin/login" method="post">
    <div>
        ${error!}
    </div>
    <div>
        用户名：<input type="text" name="username" value="admin"/>
    </div>
    <div>
        用户名：<input type="text" name="password" value="admin"/>
    </div>
    <button type="button" id="loginBtn">Ajax登录</button>
    <button type="submit">登录</button>
</form>
<script src="${request.contextPath}/resources/plugins/jQuery/jquery-1.11.3.js"></script>
<script>
    $(function () {
        $("#loginBtn").click(function () {
            //$("#loginForm").submit();
            $.ajax({
                url: "/admin/ajaxLogin",
                type: "post",
                data: $("#loginForm").serialize(),
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        });
        let app = new Vue({
            el: "#app",
            data: {
                html: "<b style='color:red'>我是WAP登录页面测试</b>"
            }
        });
    });
</script>
</body>
</html>